<div layout="row" layout-fill>
    <!--this is left nav bar-->
    <div class="leftnav" layout="column" layout-align="start center">

        <ng-md-icon icon="dehaze" style="fill: white" size="36" ui-sref="home.mainContent"></ng-md-icon>
        <ng-md-icon icon="navigation" style="fill: white" size="36"></ng-md-icon>
        <ng-md-icon icon="insert_comment" style="fill: white" size="36"></ng-md-icon>
        <ng-md-icon icon="description" style="fill: white" size="36"></ng-md-icon>
    </div>


    <div class="leftnav-secondNav" layout="column" layout-align="start center">

        <p>Project Title</p>

        <p>Nav 1</p>
        <p>Nav 1</p>
        <p>Nav 1</p>
        <p>Nav 1</p>

    </div>


    <!--this is content area-->
    <div style="width:100%">
        <ui-view></ui-view>
    </div>
</div>