<div style="background-color: gray; width:100%; height:1000px;">
    <div style="background-color: #f5f5f5 ; padding: 5px 10px 5px 0; height: 40px;">
        <div>
            <span>Card size</span>
            <select name="singleSelect" ng-model="data.singleSelect">
      <option value="option-1">Small</option>
      <option value="option-2">Meduim</option>
      <option value="option-2">Large</option>      
    </select>
            <span style="float:right" ><span>1 issue</span><button style="background-color: #0052cc; color:#fff; font-size: 14px;margin: 0; padding: 4px 10px; border-radius: 3.01px;border: none;outline: 0"; >Print</button> </span>
        </div>
    </div>

    <div style="display:flex; align-items:center; align-content:center; margin:30px auto; background-color:white; width:335px; height:233px; padding:20px;">
        <div>
            Card View Printing Testing
        </div>
        <br>
    </div>

    <div>

    </div>
</div>